@font-face {
  font-family: 'mastodon-font-display';
  src: local('Koruri'),
    url('../fonts/montserrat/Koruri-Regular.woff2') format('woff2'),
    url('../fonts/montserrat/Koruri-Regular.woff') format('woff'),
    url('../fonts/montserrat/Koruri-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mastodon-font-display';
  src: local('Koruri'),
    url('../fonts/montserrat/Koruri-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
