@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('Koruri'),
    url('../fonts/montserrat/Koruri-Regular.woff2') format('woff2'),
    url('../fonts/montserrat/Koruri-Regular.woff') format('woff'),
    url('../fonts/montserrat/Koruri-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('Koruri'),
    url('../fonts/montserrat/Koruri-Bold.woff2') format('woff2'),
    url('../fonts/montserrat/Koruri-Bold.woff') format('woff'),
    url('../fonts/montserrat/Koruri-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('Koruri'),
    url('../fonts/montserrat/Koruri-SemiBold.woff2') format('woff2'),
    url('../fonts/montserrat/Koruri-SemiBold.woff') format('woff'),
    url('../fonts/montserrat/Koruri-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'mastodon-font-sans-serif';
  src: local('Koruri'),
    url('../fonts/montserrat/Koruri-Regular.woff2') format('woff2'),
    url('../fonts/montserrat/Koruri-Regular.woff') format('woff'),
    url('../fonts/montserrat/Koruri-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
